<div class="d-flex align-items-center justify-content-center">
  <svg
    (click)="return()"
    fill="#000000"
    height="50px"
    width="50px"
    version="1.1"
    id="Layer_1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 0 512 512"
    xml:space="preserve"
  >
    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
    <g
      id="SVGRepo_tracerCarrier"
      stroke-linecap="round"
      stroke-linejoin="round"
    ></g>
    <g id="SVGRepo_iconCarrier">
      <g>
        <g>
          <path
            d="M317.959,115.859H210.158V58.365h-44.864L0,223.66l165.294,165.294h44.864V331.46h136.548 c67.367,0,122.174,54.807,122.174,122.174H512V309.9C512,202.905,424.953,115.859,317.959,115.859z M468.88,342.412 c-30.253-33.206-73.82-54.071-122.174-54.071H167.038v41.378L60.981,223.661l106.057-106.057v41.375h150.921 c83.219,0,150.921,67.703,150.921,150.921V342.412z"
          ></path>
        </g>
      </g>
    </g>
  </svg>
  <h2 class="text-center ms-3 me-3">
    {{ filteredDetails.forecast.length }} -DAY FORECAST of
    {{ filteredDetails.city }}
  </h2>
  <input
    type="date"
    class="form-control custom-input me-2"
    name="date"
    [(ngModel)]="date"
    (change)="onDateChange()"
  />
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-4" *ngFor="let forecast of filteredDetails.forecast">
      <div class="weather-card">
        <div [ngSwitch]="getWeather(forecast.temperatureCelsius)">
          <p *ngSwitchCase="1">Sunny</p>
          <p *ngSwitchCase="2">Cloudy</p>
          <p *ngSwitchCase="3">Rainy</p>
        </div>
        <div
          class="weather-icon"
          [ngSwitch]="getWeather(forecast.temperatureCelsius)"
        >
          <p *ngSwitchCase="1">☀️</p>
          <p *ngSwitchCase="2">☁️</p>
          <p *ngSwitchCase="3">🌧️</p>
        </div>
        <h1>
          {{
            isCelsius
              ? forecast.temperatureCelsius + "°C"
              : forecast.temperatureFahrenheit + "°F"
          }}
        </h1>
        <p>Humidity :</p>
        <div class="justify-content-center row">
          <div
            class="circle"
            [style.background]="getCircleStyle(forecast.humidity)"
          >
            <div class="inner-circle">
              <span> {{ forecast.humidity }}%</span>
            </div>
          </div>
        </div>
        <p>{{ forecast.date }}</p>
      </div>
    </div>
  </div>
</div>
