<div class="container mt-5">
  <div class="row">
    <div class="col-md-3" *ngFor="let weather of filteredWeathers">
      <div class="weather-card" (click)="NavigateToCity(weather.id)">
        <h2>{{ weather.city }}</h2>
        <div
          [ngSwitch]="
            getWeather(
              weather.forecast[weather.forecast.length - 1].temperatureCelsius
            )
          "
        >
          <p *ngSwitchCase="1">Sunny</p>
          <p *ngSwitchCase="2">Cloudy</p>
          <p *ngSwitchCase="3">Rainy</p>
        </div>
        <div
          class="weather-icon"
          [ngSwitch]="
            getWeather(
              weather.forecast[weather.forecast.length - 1].temperatureCelsius
            )
          "
        >
          <p *ngSwitchCase="1">☀️</p>
          <p *ngSwitchCase="2">☁️</p>
          <p *ngSwitchCase="3">🌧️</p>
        </div>
        <h1>
          {{
            isCelsius
              ? weather.forecast[weather.forecast.length - 1]
                  .temperatureCelsius + "°C"
              : weather.forecast[weather.forecast.length - 1]
                  .temperatureFahrenheit + "°F"
          }}
        </h1>
        <p>Humidity :</p>
        <div class="justify-content-center row">
          <div
            class="circle"
            [style.background]="
              getCircleStyle(
                weather.forecast[weather.forecast.length - 1].humidity
              )
            "
          >
            <div class="inner-circle">
              <span>
                {{
                  weather.forecast[weather.forecast.length - 1].humidity
                }}%</span
              >
            </div>
          </div>
        </div>
        <p>{{ weather.forecast[weather.forecast.length - 1].date }}</p>
      </div>
    </div>
  </div>
</div>
